:root{
    --cor: rgb(186, 13, 216);
}

body{
    background-color: var(--cor);
}

#resizer{
    min-width: 100px;
    min-height: 100px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

#tamanho{
    display: block;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
}